@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #2D046E;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}